<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
       xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="layout :: htmlhead" th:with="title='任务管理'"></head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头-->
    <div th:replace="fragments/head :: header"></div>

    <div class="layui-body" style="margin: 1%">

        <form id="schduleSearch" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">
            <div class="layui-form-item">
                <label class="layui-form-label">任务组</label>
                <div class="layui-input-inline">
                    <input id="jobGroupS" name="jobGroup" autocomplete="off" class="layui-input" type="text"/>
                </div>
                <label class="layui-form-label">任务名称</label>
                <div class="layui-input-inline">
                    <input id="jobNameS" name="jobName" autocomplete="off" class="layui-input" type="text" onkeyup="this.value=this.value.replace(/\D/g,'')"
                           onafterpaste="this.value=this.value.replace(/\D/g,'')"/>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">添加时间</label>
                        <div class="layui-input-inline" style="width: 175px;">
                            <input  name="insertTimeStart" id="insertTimeStart" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input" type="text"/>
                        </div>
                    <div class="layui-form-mid">-</div>
                        <div class="layui-input-inline" style="width: 175px;">
                            <input name="insertTimeEnd" id="insertTimeEnd" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input" type="text"/>
                        </div>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>

                          <button class="layui-btn"  lay-submit="" lay-filter="searchSubmit" id="searchSubmit">查询</button>

                </div>
            </div>
        </form>

        <!--<hr class="layui-bg-blue"/>-->
        <hr class="layui-bg-black"/>
        <button class="layui-btn layui-btn-normal" onclick="addJob()">新增</button>

        <table id="scheduleList" lay-filter="jobTable"></table>
        <div style="display:none;" id="currentUser"><shiro:principal property="id"></shiro:principal></div>

        <!--<script type="text/html" id="jobTpl">-->
            <!--{{#  if(!d.job){ }}-->
            <!--<input type="checkbox" name="{{d.username}}_{{d.version}}" value="{{d.id}}" lay-skin="switch" lay-text="在职|离职" lay-filter="isJobTpl" checked="checked" />-->
            <!--{{#  } else { }}-->
            <!--<input type="checkbox" name="{{d.username}}_{{d.version}}" value="{{d.id}}" lay-skin="switch" lay-text="在职|离职" lay-filter="isJobTpl"/>-->
            <!--{{#  } }}-->
        <!--</script>-->
        <script type="text/html" id="jobNameTpl">
            {{#  if(d.runingStatus == -1){ }}
                <div class="layui-bg-red">{{d.jobName}}</div>
            {{# } else if(d.runingStatus == 1){ }}
            <div class="layui-bg-green">{{d.jobName}}</div>
            {{#} else{ }}
            <div class="layui-bg-orange">{{d.jobName}}</div>
            {{#  } }}
        </script>
        <script type="text/html" id="jobStatusTpl">
            {{#  if(d.jobStatus){ }}
            <input type="checkbox" name="{{d.jobName}}" value="{{d.jobId}}" lay-skin="switch" lay-text="启用|禁用" lay-filter="isJobStatusTpl" checked="checked" />
            {{#  } else { }}
            <input type="checkbox" name="{{d.jobName}}" value="{{d.jobId}}" lay-skin="switch" lay-text="启用|禁用" lay-filter="isJobStatusTpl"/>
            {{#  } }}
        </script>
        <script type="text/html" id="optBar">
            {{#  if(!d.jobStatus){ }}
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
            {{#  } }}
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="test">测试</a>
        </script>
    </div>


    <!--添加或编辑用户-->
    <div id="setJob" class="layer_self_wrap" style="width:600px;display:none;">
        <form id="jobForm" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">
            <input id="pageNum" class="layui-input" type="hidden" name="pageNum"/>
            <input id="jobId" class="layui-input" type="hidden" name="jobId"/>
            <input id="version" class="layui-input" type="hidden" name="version"/>
            <div class="layui-form-item">
                <label class="layui-form-label">分组名称</label>
                <div class="layui-input-inline">
                    <input id="jobGroup" name="jobGroup" lay-verify="required" autocomplete="off" class="layui-input" type="text"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">任务名称</label>
                <div class="layui-input-inline">
                    <input id="jobName" name="jobName" lay-verify="required" autocomplete="off" class="layui-input" type="text"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">表达式</label>
                <div class="layui-input-inline">
                    <input id="cronExpression" name="cronExpression" lay-verify="required" autocomplete="off" class="layui-input" type="text"/>
                </div>
                <button type="button" class="layui-btn layui-btn-sm layui-btn-primary layui-bg-green" onclick="openCron()">
                    <i class="layui-icon">&#xe702;</i>
                </button>
                <!--<div class="layui-form-mid layui-word-aux">填写格式</div>-->
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">类路径</label>
                <div class="layui-input-inline">
                    <input id="beanClass" name="beanClass" lay-verify="required | english" autocomplete="off" class="layui-input" type="text" placeholder=""com.ppfuns.Main/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">方法名称</label>
                <div class="layui-input-inline">
                    <input id="methodName" name="methodName" lay-verify="required | english" autocomplete="off" class="layui-input" type="text" placeholder="test"/>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block" style="margin-left: 10px;">
                    <button class="layui-btn"  lay-submit="" lay-filter="jobSubmit">提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>


    <!-- 浏览cron表达式说明 -->
    <div id="showCron" class="layer_self_wrap" style="width:780px;display:none;">
        <div th:replace="quartz/cron2 :: cron"></div>
    </div>
    <!--底部-->
    <div th:replace="fragments/footer :: footer"></div>
    <script src="/js/dateUtils.js"></script>
    <script src="/js/auth/scheduleList.js"></script>

</div>
</body>
</html>