<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="layout :: htmlhead" th:with="title='用户管理'"></head>
<div th:fragment="resetPwd">
    <div id="resetPwdPanel" class="layer_self_wrap" style="width:500px;display:none;">
        <form id="resetPwdForm" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">
            <input id="userId" type="hidden" name="userId"/>
            <input id="userNamePwd" type="hidden" name="userNamePwd"/>
            <div class="layui-form-item">
                <label class="layui-form-label">密码</label>
                <div class="layui-input-inline">
                    <input id="firstPwd" name="firstPwd" autocomplete="off" class="layui-input" type="password"
                           placeholder="默认密码：654321" lay-verify="required|pass"/>
                </div>
                <div class="layui-form-mid layui-word-aux">请填写6位以上的密码</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">确认密码</label>
                <div class="layui-input-inline">
                    <input id="secondPwd" name="secondPwd" autocomplete="off" class="layui-input" type="password"
                           placeholder="默认密码：654321" lay-verify="required|pass"/>
                </div>
                <div class="layui-form-mid layui-word-aux">请填写6位以上的密码</div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="resetPwdFilter">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
</script>
</html>