<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties>
        <property name="media_asset_sport" value="media_asset_sport"/>
        <property name="boss_manage_sport" value="boss_manage_sport"/>
    </properties>
</configuration>