<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/rabbit
                           http://www.springframework.org/schema/rabbit/spring-rabbit-1.3.xsd
                           http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">
	
	<rabbit:connection-factory id="mqConnectionFactory" host="${mq.host}" port="${mq.port}"  username="${mq.user}" password="${mq.password}" />
	<!--
	<rabbit:connection-factory id="connectionFactory" addresses="${mq.host1}:${mq.port1},${mq.host2}:${mq.port2}"/>
	 -->
	<rabbit:template id="rabbitTemplate" connection-factory="mqConnectionFactory" channel-transacted="true" />
	<rabbit:admin connection-factory="mqConnectionFactory" />
	<rabbit:queue name="send2MailLog" auto-delete="false" auto-declare="true" exclusive="false"/>
	<rabbit:direct-exchange name="logExChange" auto-declare="true" auto-delete="false"/>
	
	
</beans>
