<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>管理系统</title>
    <script type="text/javascript" th:src="@{/js/jquery-2.1.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.serializejson.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.cookie.js}"></script>
    <script th:src="@{/layui/layui.js}"></script>
    <!--<script src="/layui/extend/tabrightmenu.js"></script>-->
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">日志采集图表系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
<!--            <li class="layui-nav-item"><a href="report/noapp_count_day/toPage">测试</a></li>-->
<!--            <li class="layui-nav-item"><a href="">商品管理</a></li>-->
<!--            <li class="layui-nav-item"><a href="">用户</a></li>-->
<!--            <li class="layui-nav-item">-->
<!--                <a href="javascript:;">其它系统</a>-->
<!--                <dl class="layui-nav-child">-->
<!--                    <dd><a href="">邮件管理</a></dd>-->
<!--                    <dd><a href="">消息管理</a></dd>-->
<!--                    <dd><a href="">授权管理</a></dd>-->
<!--                </dl>-->
<!--            </li>-->
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img th:src="@{/images/logo.png}" class="layui-nav-img"/>
                    <shiro:principal property="username"></shiro:principal>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;" onclick="updateUseByMe();">用户信息</a></dd>
                    <dd id="updUsePwdDd" class="layui-this"><a href="javascript:;" onclick="updateUsePwd();">修改密码</a></dd>
                    <dd id="resetBgColor2">
                        <a href="javascript:;">颜色选择器<div  id="resetBgColor" style="margin-left: 30px;" ></div></a>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a th:href="@{/logout}">退出</a></li>
        </ul>
    </div>

    <div id="bgContent" class="layui-side layui-bg-black" style="width: 300px">
        <div class="layui-side-scroll" style="width: 300px">
            <div title="菜单缩放" class="kit-side-fold"><i class="layui-icon layui-icon-prev" aria-hidden="true" style="font-size: 15px; color: #1E9FFF;"></i></div>
            <ul id='sysNavTree' class='layui-nav layui-nav-tree' lay-filter='leftPermTreeFilter' style=''></ul>
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        </div>
    </div>

    <div class="layui-body" id="tabNavId" style="left:300px">
        <!-- 内容主体区域 -->
        <div class="layui-tab" lay-filter='topTableFilter'>
            <ul id="topTableFilter" class="layui-tab-title">
            </ul>

            <div class="layui-tab-content">
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
    <!--<div class="layui-footer">-->
        <!--<div th:replace="fragments/footer :: footer"></div>-->
    <!--</div>-->
</div>

<script type="text/javascript" th:src="@{/js/sys/left.js}"></script>
<script type="text/javascript" th:src="@{/js/sys/common.js}"></script>
<script>
    //JavaScript代码区域
    var isShow = true;  //定义一个标志位
    $('.kit-side-fold').click(function(){
        //选择出所有的span，并判断是不是hidden
        $('.layui-nav-item span').each(function(){
            if($(this).is(':hidden')){
                $(this).show();
            }else{
                $(this).hide();
            }
        });
        //判断isshow的状态
        if(isShow){
            $('.layui-side.layui-bg-black').width(15); //设置宽度
            $('.kit-side-fold i').css('margin-right', '80%');  //修改图标的位置
            //将footer和body的宽度修改
            $('.layui-body').css('left', 15+'px');
            $('.layui-footer').css('left', 15+'px');
            //将二级导航栏隐藏
            $('dd span').each(function(){
                $(this).hide();
            });
            //修改标志位
            isShow =false;
        }else{
            $('.layui-side.layui-bg-black').width(300);
            $('.kit-side-fold i').css('margin-right', '10%');
            $('.layui-body').css('left', 300+'px');
            $('.layui-footer').css('left', 300+'px');
            $('dd span').each(function(){
                $(this).show();
            });
            isShow =true;
        }
    });
</script>
<script th:inline="javascript">
    var user = /*[[${@multipartConfigElement.maxRequestSize}]]*/ {};
</script>
</body>
</html>